#blogs-container{
	width:100%;
	height:auto;
}

#blogs-header{
	width:100%;
	height:50px;
	line-height:50px;
	color:#323232;
	background-color:#e47a60;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	text-shadow: 0 0 2px #ededed, 0 0 3px #121212;
	border-radius:5px;
	box-shadow: 0 0 5px #121212;
}

.blog-container{
	width:calc(100% - 20px);
	height:200px;
	margin-bottom:1px;
	padding:10px;
	position:relative;
	border-bottom: solid 1px #414243;
}

.blog-bg-horizontal{
	background-image:linear-gradient(to top, #121212, #1a1a1a, #151515);
}

.blog-bg-vertical{
	background-image:linear-gradient(to right, #121212, #212121, #151515);
}

.blog-main-title-one, .blog-main-title-two{
	font-size:22px;
	font-weight:bold;
	text-align:center;
}

.blog-main-title-one{
	color:#1a1a1a;
	text-shadow: 0 0 1px #fafafa, 0 0 2px #050505, 0 0 3px #3687be;
}

.blog-main-title-two{
	color:#171717;
	text-shadow: 0 0 1px #e58f70, 0 0 3px #9774ae;
}

.blog-sub-title-one, .blog-sub-title-two{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

.blog-sub-title-one{
	color:#010203;
	text-shadow: 0 0 1px #ededed, 0 0 2px #7361a9;
}

.blog-sub-title-two{
	color:#121212;
	text-shadow: 0 0 1px #fafafa, 0 0 2px #b57a90, 0 0 3px #a534c3;
}

.blog-summary-one, .blog-summary-two{
	height:100px;
	width:calc(100% - 20px - 100px);
	margin:5px;
	display:inline-block;
	float:left;
	overflow: scroll;
}

.blog-summary-one{
	color:#856e97;
	font-size:16px;
}

.blog-summary-two{
	color:#a7548a;
	font-size:16px;
}

.blog-img-container{
	width:auto;
	height:auto;
	margin:5px;	
}

.blog-img{
	width:100px;
	height:100px;
	background-color:#353535;
	display:inline-block;
	float:right;
}

.blog-tags-container{
	width:calc(100% - 20px);
	height:29px;
	position:absolute;
	bottom:10px;
}

.blog-tag{
	width:25px;
	height:25px;
	margin:1px 0 1px 10px;
	background-color:#dedede;
	display:inline-block;
	float:left;
	border-radius:3px;
}

.tag-css3,.tag-html5, .tag-js{
	padding:1px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px 25px;
}

.tag-css3{
	background-image:url(../img/css3-logo.png);
}

.tag-html5{
	background-image:url(../img/html5-logo.png);
}

.tag-js{
	background-image:url(../img/js-logo.png);
}