footer{
	width:100%;
	min-height:350px;
	background-image:linear-gradient(to right bottom, #232323, #272727, #2d2d2d);
}

.footer-text{
	padding: 20px 0 0 0;
	color:#757575;
	font-size:15px;
	text-align:center;
}

.footer-logo{
	width:100px;
	height:100px;
	display:inline-block;
	margin:30px;
	float:right;
	border-radius:5px;
}
#footer-menu-container{
	margin-top:30px;
}


#footer-menu-container a{
	text-decoration:none;
}

#footer-menu-container ul, #footer-menu-container li {
	margin:5px;
	padding:0; 	
	list-style-type:none;
}

.footer-menu-item, .footer-sub-menu-item{
	height:22px;
	line-height:22px;
	color:#151515;
	font-weight:bold;
	text-align:left;
}


.footer-menu-item{
	margin: 0 0 0 10px;
	font-size:16px;
	text-shadow: 0 0 5px #75239a, 0 0 7px #fafafa, 0 0 10px #050505;	
}

.footer-sub-menu-item{
	margin: 0 0 0 15px;
	font-size:16px;
	text-shadow: 0 0 5px #563297, 0 0 7px #eaeaea, 0 0 10px #323232;	
}