footer{
	width:100%;
	height:350px;
	bottom:0;
	background-color:#070707;
}

.footer-text{
	padding: 20px 0 0 0;
	color:#a1a1a1;
	font-size:15px;
	text-align:center;
}

.footer-logo{
	width:140px;
	height:140px;
	position:relative;
	top:20px;
	left:calc(50% - 70px);
	border-radius:5px;
}

#footer-menu-container a{
	text-decoration:none;
}

.footer-menu-item, .footer-sub-menu-item{
	width:150px;
	height:25px;
	line-height:25px;
	margin: 10px 0 0 10px;
	color:#171717;
	font-weight:bold;
	text-align:left;
}


.footer-menu-item{
	margin: 5px 0 0 10px;
	font-size:16px;
	text-shadow: 0 0 2px #fafafa, 0 0 3px #050505, 0 0 7px #553d70;	
}

.footer-sub-menu-item{
	margin: 5px 0 0 30px;
	font-size:16px;
	text-shadow: 0 0 2px #fafafa, 0 0 3px #050505, 0 0 7px #353d90;	
}