body{
	margin:0px;
	padding:0px;
	background-color: #252525;
	font-family: "monospace","New Lucida Console";
}

nav{
	width:100%;
	height:70px;
	position:fixed;
	top:0;
	background-color:#121212;
}

.nav-logo{
	width:60px;
	height:60px;
	position:absolute;
	top:5px;
	right:calc(50% - 30px);
	border-radius:60px;
	box-shadow: 0 0 2px #d454a5;
}

#menu-button{
	width:40px;
	height:40px;
	line-height:40px;
	position:absolute;
	top:15px;
	left:20px;
	background-color:#171717;
	color:#d454a5;
	font-size:20px;
	text-align:center;
	border-radius:3px;
	box-shadow: 0 0 2px #d454a5;
}

#menu-container{
	width:290px;
	min-height:430px;
	max-height:440px;
	position:relative;
	top:70px;
	left:0;
	background-color:#151515;
	Overflow:scroll;
	border-radius:3px;
	border: solid 1px #000000;
}

#menu-container a{
	text-decoration: none;
}

.menu-item-container{
	width:130px;
	height:90px;
	line-height:130%;
	margin: 10px 0 0 10px;
	padding-top:40px;
	display:inline-block;
	float:left;
	background-color:#1a1a1a;
	color:#d454a5;
	font-size:22px;
	text-align:center;
	border-radius:3px;
	box-shadow: 0 0 1px #000;
}



section{
	min-height:700px;
	background-color:171717;
	border-bottom: solid 1px #373737;
}

#section-one{
	padding-top:70px;
}

.main-header{
	height:100px;
	line-height:100px;
	color:#323232;
	font-weight:bold;
	font-size:30px;
	text-align:center;
	text-shadow: 0px 0px 4px #d48a50;
}



/***************/
.flip-front, .flip-back{
	width:calc(50% - 25px);
	height:300px;
	margin:10px;
	display:inline-block;
	border-radius:3px;	
	box-shadow: 0 0 10px #a7a7a7;
}

.flip-front{
	background-color:#d48a60;
}

.flip-back{
	background-color:#d48a50;
}
/******************/


footer{
	width:100%;
	height:350px;
	/*position:absolute;*/
	bottom:0;
	background-color:#070707;
	
}

.footer-text{
	padding: 20px 0 0 0;
	color:#a1a1a1;
	font-size:15px;
	text-align:center;
}

.footer-logo{
	width:140px;
	height:140px;
	position:relative;
	top:20px;
	left:calc(50% - 70px);
	border-radius:5px;
	/*box-shadow: 0 0 3px #a1a1a1;*/
}

.disable-select{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* secure correct behavior of the new eight HTML5 semantic elements in older browsers */
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}