body{
	background-color: #252525;
	font-family: "monospace","New Lucida Console";
}

.main-header{
	height:150px;
	line-height:150px;
	color:#323232;
	font-weight:bold;
	font-size:70px;
	text-align:center;
	text-shadow:0px 2px 10px #d47a60;
}


/* secure correct behavior of the new eight HTML5 semantic elements in older browsers */
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}