body{
	margin:0px;
	padding:70px 0 0 0;
	background-color:#232323;
	font-family: "monospace","New Lucida Console";
}

.tutorial-section-bg{
	background-image:linear-gradient(to top, #121212, #1e1e1e, #151515);
}

.tutorial-header-section{
	width:100%;
	min-height:50px;
	background-image:linear-gradient(to right bottom, #aeaeae, #bebebe, #cecece);
	text-align:center;
}

.tutorial-header-title{
	padding: 10px 0;
	line-height:50px;
	color:#1a1a1a;
	font-size:35px;
	font-weight:bold;
	text-shadow: 0 0 1px #fafafa, 0 0 2px #050505, 0 0 3px #3687be;
}

.tutorial-header-image{
	width:200px;
	height:200px;
	padding:20px;
}

.tutorial-main-title-one, .tutorial-main-title-two{
	padding: 10px 0;
	font-size:25px;
	font-weight:bold;
	text-align:center;
}

.tutorial-main-title-one{
	color:#1a1a1a;
	text-shadow: 0 0 1px #fafafa, 0 0 2px #050505, 0 0 3px #3687be;
}

.tutorial-main-title-two{
	color:#171717;
	text-shadow: 0 0 1px #e58f70, 0 0 3px #9774ae;
}